.AboutLandingContent
{
    width: calc(1.5 * 60vh);
    height: calc(1.5 * 34vh);
    position: relative;
    top: 4vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.AboutLandingContent:hover
{
    filter: blur(2px);
}
#AboutGif
{
    width: calc(1.5 * 60vh);
    height: calc(1.5 * 34vh);
    z-index: -1;
}
#ScreenCenterText
{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: 40px;
    z-index: 1;

    position: fixed;
    top: 27vh;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    user-select: none;
}


.TextBorderDivs
{
    font-weight: 500;
    font-size: 0.8em;
    color: rgb(51, 51, 51);

    width: calc(1.77 * 50vh);;
    position: relative;
    top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 3vh;
    border-bottom: 2px solid rgb(216, 216, 216);
}
