@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}



nav
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 70px;
    margin-bottom:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a69a0;
    background-image: linear-gradient(90deg, #0a69a0 20%, #091120 50%);
}

header nav .Logo
{
    position: relative;
    max-width: 180px;
    width: 10vw;
    padding: 10px;
    transform: translateX(calc(8 * 1vw));
    min-width: 80px;
    max-width: 100px;
}
.BenjaminButton
{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.BenjaminButton:hover
{
    background-color: rgba(0,0,0,0.2);
}
    #LoginID { background-color: #0a69a0;}
    #LoginID:hover { background-color: #074569;}

header nav ul 
{
    position: relative;
    display: flex;
}

ul li 
{
    list-style: none;
}

header nav ul li a
{
    font-size: 1.4em;
    display: inline-block;
    font-weight: 700;
    margin-left: 50px;
    text-decoration: none;
}


@media (max-width: 991px)
{
    .BenjaminButton
    {
    padding: 10px 20px;
    border-radius: 10px;
    color: #333;
    }
    .BenjaminButton:hover
    {
    background-color: rgba(0,0,0,0.2);
    }
    header nav .Logo
    {
        position: relative;
        width: 10vw;
        max-width: 70px;
        transform: translateX(calc(3 * 1vw));
    }
    #LoginID { background-color: white;}
    #LoginID:hover { background-color: rgba(0,0,0,0.2);}
    header nav ul
    {
        display: none;
    }
    header nav ul li 
    {
        margin-top: 15px;
    }
    header nav ul li a
    {
        font-size: 1.5em;
        font-weight: 400;
        margin: 5px 0px;
    }
    .toggle
    {
        position: relative;
        width: 30px;
        height: 30px;
        cursor: pointer;
        background: url(../Images/menu.png);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 69;
    }
    .toggle.active
    {
        
        /* position: fixed;
        right: 20px; */
        background: url(../Images/close.png);
        filter: invert(1);
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header nav ul.navigation.active
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
        z-index: 10;
    }
}
