body
{
    background-color: black;
}

.BenjaminButton
{
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.BenjaminButton:hover
{
    background-color: rgba(0,0,0,0.2);
}
#LoginID { background-color: #0a69a0;}
#LoginID:hover { background-color: #074569;}

.MainText
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.ScreenCenterText
{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-weight: 900;
    font-size: 40px;
    z-index: 1;
    background-color: #74aecf;

    user-select: none;

    padding-left: 10vh;
    padding-right: 10vh;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.LoginButton
{
    position: fixed;
    color: white;
    font-size: 30px;
    background-color: #0a69a0;
    text-decoration: none;

    top: 220%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;
    border-radius: 10px;

    /* margin-top: 20%; */
}
.LoginButton:hover
{
    background-color: #074569;
}

.MainGif
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
